.pc
*.ncb
*.suo
*.vcproj.*.user
Engine/acwin___Win32_DebugWorking
Editor/AGS.Controls/bin
Editor/AGS.Controls/obj
Editor/AGS.CScript.Compiler/bin
Editor/AGS.CScript.Compiler/obj
Editor/AGS.Editor/bin
Editor/AGS.Editor/obj
Editor/AGS.Native/Debug
Editor/AGS.Types/bin
Editor/AGS.Types/obj
Editor/UpdateCPPVersion/bin
Editor/UpdateCPPVersion/obj
Solutions/.build/
Solutions/.lib/
Solutions/Common.Lib/Debug/
Solutions/Engine.App/Debug/

Solutions/Common.Shared.Lib/Debug
Solutions/Common.Shared.Lib/Release
Solutions/Engine.App/Release
Editor/AGS.Native/Release
Solutions/Engine.Shared.Lib/Debug
Solutions/Engine.Shared.Lib/Release
Solutions/Compiler.Lib/Debug
Solutions/Compiler.Lib/Release
Solutions/Common.Lib/Release
*.csproj.user
*.idc
Engine/version.aps

OSX/xcode/legacy/game_files/ac2game.001

OSX/xcode/legacy/game_files/ac2game.002

OSX/xcode/legacy/game_files/ac2game.dat

OSX/xcode/legacy/game_files/audio.vox

OSX/xcode/legacy/game_files/speech.vox

iOS/xcode/BlackwellLegacy/game/ac2game.dat

iOS/xcode/BlackwellLegacy/game/audio.vox

iOS/xcode/BlackwellLegacy/game/speech.vox

OSX/xcode/shivah/game_files/ac2game.dat

OSX/xcode/shivah/game_files/audio.vox

OSX/xcode/shivah/game_files/speech.vox
